APP_NAME=ez-php-storage
APP_ENV=local
APP_DEBUG=true

# Storage driver: local | s3
STORAGE_DRIVER=local

# Local driver
STORAGE_ROOT=/var/www/html/storage
STORAGE_URL=

# S3 driver (uncomment and fill in to use)
#STORAGE_DRIVER=s3
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_DEFAULT_REGION=us-east-1
#AWS_BUCKET=
#AWS_ENDPOINT=
#AWS_URL=
